<div class="container">
    <h1>New Category</h1>
    <hr>
    <form method="POST" action="/addCategory">
        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" class="form-control" placeholder="New category..." name="category">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-danger">Cancel</a>
    </form>
</div>